/* -- Imports -- */ 

@import url('https://fonts.googleapis.com/css?family=Raleway');

/* -- Variables -- */ 

$white: #FFF;
$lightBlue: #27b1ae;
$darkBlue: #173248;
$sexyBeige: #ffe5b0;
$heavyRed: #fa6b19;


/* -- Nav -- */ 


.navigation-wrapper {
  background-color: $darkBlue;
  width: 100%;
  float: left;
  position: relative;
  z-index: 10;
}

.navigation {
  width: 90%;
  margin: 0;
}

.nav-menu {
  width: 100%;
  margin: 0;
  display: table;
}

.nav-logo {
  float: left;
  margin: auto 0;
  padding: 1% 0;

  a {
    img {
      width: 70px;
    }

  }
}

.navbar {
  padding: 15px 0;
  list-style: none;
  top: 0;
  position: relative;

  
  li {
    display: inline-block;
    padding-right: .6em;
  }

  a {
      position: relative;
      color: $white;
      text-decoration: none;
      text-transform: uppercase;
      padding: 1em 1em;
      display: block;
      font-size: .6em;
      letter-spacing: 0.08em;
      line-height: .75em;
      font-weight: 100;
      font-family: 'Raleway','Open Sans', Arial, sans-serif;
      margin: auto;
      transition: padding 0.2s linear;
      // border: .75px solid $white;
      position:relative;
      z-index: 1;
    }
  
  a:hover {
    color: $lightBlue;
  }

  a:after {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 1px;
    content: '.';
    color: transparent;
    background: $white;
    visibility: none;
    opacity: 0;
    z-index: -1;
    // display: block;
    // position: absolute;
    // bottom: 0;
    // left: 0;
    // right: 0;
    // margin: auto;
    // width: 0%;
    // content: '.';
    // color: transparent;
    // background: $sexyBeige;
    // height: .25px;
  }
  
  a:hover:after {
    opacity: 1;
    visibility: visible;
    height: 100%;
  }

  .active {
    color: $lightBlue;
    // border: .25px solid $sexyBeige;
    background: $white;
  }
  
}

.activated {
  padding-top: 10%;
}



.navbar-right {
  float: right!important;
}

.nav {
  padding: 18px 0;
}

.sticky-nav {
  position: fixed;
  top: 0;
  width: 100%;
}




