/* -- Imports -- */ 

@import url('https://fonts.googleapis.com/css?family=Raleway');

/* -- Variables -- */ 

$white: #FFF;
$lightBlue: #27b1ae;
$darkBlue: #173248;
$sexyBeige: #ffe5b0;
$heavyRed: #fa6b19;


/* -- Nav -- */ 


.navigation-wrapper {
  background-color: $darkBlue;
  width: 100%;
  float: left;
  position: relative;
}

.navigation {
  width: 90%;
  margin: 0;
}

.nav-menu {
  width: 100%;
  margin: 0;
  display: table;
}

.nav-logo {
  float: left;
  margin: auto 0;
  padding: 3px 0;

  a {
    img {
      width: 150px;
    }

  }

}

.navbar {
  padding: 15px 0;
  list-style: none;
  position: relative;

  
  li {
    display: inline-block;
    padding-right: .6em;
  }

  a {
      position: relative;
      color: $white;
      text-decoration: none;
      text-transform: uppercase;
      padding: 1em 1em;
      display: block;
      font-size: .6em;
      letter-spacing: 0.08em;
      line-height: .75em;
      font-weight: 100;
      font-family: 'Raleway','Open Sans', Arial, sans-serif;
      margin: auto;
      transition: padding 0.2s linear;
      // border: .75px solid $white;
    }
  
  a:hover {
    color: $sexyBeige;
  }

  a:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: $sexyBeige;
    height: .25px;
  }
  
  a:hover:after {
    width: 100%;
  }
  
}


.navbar-right {
  float: right!important;
}

.nav {
  padding: 18px 0;
}

.sticky-nav {
  position: fixed;
  top: 0;
  width: 100%;
}


.active {
  border-bottom: .25px solid $sexyBeige;
}


