/* -- Imports -- */ 

@import '../Globals/global.scss';

/* -- PORTFOLIO --*/

.portfolio {
  display: flex;
  margin: auto;
  position: relative;
  
  width: 100%;
  padding: 60px 0;
  padding-bottom: 80px;
  
  background: $stone;
  font-family: 'Open Sans', Arial, sans-serif;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;

  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

.portfolio-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
  padding: 25px 50px 0 50px;
  width: 100%;
}

.title-portfolio {
  display: flex;
  justify-content: center;
  align-items: center;

  padding-bottom: 20px;
  width: 100%;
  
  h1 {
    display: flex;
    justify-content: center;
    
    width: 60%;
    color: $metallic;
    border-bottom: .75px solid $metallic;

    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    line-height: 1.1em;
    padding-bottom: 15px;
  }
}

.portfolio-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  
  width: 80%;
  padding: 20px;
}

.portfolio-grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
  
  margin: 10px;
  width: 215px;
  height: 265px;
  // padding: 15px;

  img {
    width: 200px;
    height: 200px;
    position: absolute;
  }

}

.cits {
  background-color: $oliveGreen;
  
}

.project-hover {

  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;


  visibility: hidden;
  color: $white;
  opacity: 0;
  z-index: 2;

  transition: all .5s ease;

  h4 {
    font-size: 20px;
    padding: 5px;
    margin: 20px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    
    border-bottom: .75px solid $white;

    transition: margin-bottom .3s ease-in;
  }


  a {
    color: $white;
    width: 80px;
    border: .5px solid  $white;
    
    padding: 8px 10px;;
    margin: 10px;
    
    text-decoration: none;
    text-align: center;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 0.05em;

    transition: margin-bottom .3s ease-in;
  }


}

.portfolio-grid-item:hover .project-hover {
  visibility: visible;
  opacity: 1;
  
  height: 100%;
  width: 100%;

  background: linear-gradient(
    rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0, 0.8)
    );

  h4 {
    margin: 10px;
  }
  
  a {
    margin: 3px;
  }
  
  a:hover {
    background: $white;
    color: $metallic;
  }

  .current {
    margin: 3px;
  }

  transition: margin-bottom .3s ease-in;
}


.codesling {
  background-color: $torq;
}

.bonebuds {
  background-color: $nightFall;
}

.rps {
  background-color: $niceGrey;
}

.tictactoe {
  background-color: $metallic;
}

.website {
  background-color: $redBrown;

  img {
    height: 125px;
  }
}


.current {

  padding: 3px 0 10px 0;
  margin: 5px;

  a {
    width: 80px;

    background: $white;
    color: $heavyRed;

    border: .5px solid  $white;
    
    padding: 8px 10px;;
    
    text-decoration: none;
    text-align: center;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 0.05em;

  }
  transition: margin-bottom .3s ease-in;
}