/* -- Imports -- */ 

@import url('https://fonts.googleapis.com/css?family=Raleway');

/* -- Variables -- */ 

$nicegrey: #edeeef;
$black: #000;
$white: #FFF;
$lightBlue: #27b1ae;
$darkBlue: #173248;
$sexyBeige: #ffe5b0;
$heavyRed: #fa6b19;

/* -- Footer -- */ 

.footer-wrapper {
  width: 100%;
  float: left;
  position: relative;
  z-index: -1;
  margin: auto 0;
  background-color: $darkBlue;
}

.footer-container{
  margin: 20px;
  padding: 0 10%;
}

.footer-contents {
  text-align: center;
  padding: 0 0;
  
  a {
    font-size: 30px;
    padding: 10px;
    color: $white;
  }

  a:hover {
    color: $lightBlue;
    // background-color: $white;
  }
  
}

.copyright {
  // float:right;
  padding-top: 10px;
  font-size: .5em;
  font-family: 'Raleway','Open Sans', Arial, sans-serif;
  text-transform: uppercase;
  color: $white;
  line-height: 1em;
  margin-top: 1%;
}
