/*-- Utils --*/

@import '../../../node_modules/include-media/dist/_include-media.scss';
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Raleway');

/*-- Colors --*/

$white: #FFF;
$black: #000;
$lightBlue: #27b1ae;
$darkBlue: #173248;
$blue: #11558d;
$sexyBeige: #f6f9e9;
$heavyRed: #E74C3C;
$niceGrey: #edeeef;
$oliveGreen: #406c17;
$torq: #076c8e;
$metallic: #334355;
$nightFall: #616f93;
$stone: #c1cfd2;
$redBrown: #ae5d4e;

/*-- BreakPoints --*/

$breakpoints: (
  'phone': 320px,
  'tablet': 768px,
  'desktop': 1024px,
) !default;


