/* -- Imports -- */ 

@import '../Globals/global.scss';

/* -- Header -- */ 

.header {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  color: $white;
  font-family: 'Open Sans', Arial, sans-serif;

  background: linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
    ), url('../../../public/images/header-bg.jpg') 50% 50% no-repeat;
  background-size: cover;
    
  z-index: -1;
}

.name {
  display: flex;
  justify-content: center;
  width: 50%;

  text-transform: uppercase;
  letter-spacing: 0.05em;
  line-height: 1.1em;
  padding-bottom: 22px;
  border-bottom: .75px solid $white;


  z-index: 1;
}

.position {
  padding: 20px 0;
  letter-spacing: 0.05em;
}

.btn {
  display: flex;
  padding: 20px; 

  a {
    border: .75px solid $white;
    padding: 8px 10px; 
    margin: 2px;

    color: $white;
    font-size: 10px;
    text-decoration: none;
    text-transform: uppercase;
  }

  a:hover {
    color: $lightBlue;
    background-color: $white;
  }
}

.btn-resume {
  background-color: $lightBlue;

  i {
    padding-right: 2px;
  }
}


/* -- Mobile -- */ 

@include media("<phone") { 
  .name {
    font-size: 20px;
  }

  .position {
    font-size: 8px;
  }
}

/* -- Small Screens -- */ 

@include media(">phone", "<tablet") { 
  .name {
    font-size: 30px;
  }

  .position {
    font-size: 12px;
  }
}

/* -- Medium Screens -- */ 

@include media(">tablet", "<desktop") {
  .name {
    font-size: 45px;
  }

  .position {
    font-size: 15px;
  }
}
/* -- Large Screens -- */ 

@include media(">desktop") {
  .name {
    font-size: 50px;
  }

  .position {
    font-size: 18px;
  }
}