/* -- Imports -- */ 

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

/* -- Variables -- */ 

$white: #FFF;
$lightBlue: #27b1ae;

/* -- header -- */ 

#header {
  height: 100%;
  width: 100%;
  
  h1, h2, h3, h4, h5, h6, p, a {
    color: $white;
    font-family: 'Open Sans', Arial, sans-serif;
  }

  h1 {
    margin-bottom: 0.4em;
    font-weight: 600;
    font-size: 2.9em;
    letter-spacing: 0.05em;
    line-height: 1.1em;
    padding-bottom: 22px;
    border-bottom: .75px solid $white;
    width: 52%;
    margin: 0 auto 20px auto;
  }

  h3 {
    font-size: 1em;
    line-height: 1.35em;
    font-weight: lighter;
  }

  a {
    padding: 7px 15px;
    border: .75px solid $white;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    font-size: .75em;
    margin-right: 5px;
    margin-bottom: 5px;
    text-decoration: none;
    text-transform: uppercase;
  }

  a:hover {
    color: $lightBlue;
    background-color: $white;
  }
}

.header-image {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.header-bg {
  margin: auto;
  height: 100%;
  width: 100%;
  background: linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
  ), url('./header-bg.jpg') 50% 50% no-repeat;
  background-size: cover;
  display: table;
  opacity: 1;
  float:left;
  min-height: 100vh;
  // position: absolulte;
  z-index: 2;
}



.header-content {
  display: table-cell;
  vertical-align: middle;
  z-index: 10;
  position: relative;
}

.header-container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 1.2em;
  padding-right: 1.2em;
}

.content-centering {
  float: none;
  margin: 0 auto 0 auto;
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

.text-centering {
  margin: 0 auto 0 auto;
  width: 100%;
  text-align: center;
}

.header-text {
  margin-bottom: 40px;
}

.btn-resume {
  background-color: $lightBlue;
}

a.btn-resume:hover {
  color: $lightBlue;
  background-color: $white;
}

.fas{
  padding-right: 5px;
}