
/* -- Imports -- */ 

@import '../Globals/global.scss';

/* -- About -- */ 

.about {
  width: 100%;
  padding: 30px 0;
  padding-bottom: 50px;
  display: flex;
  margin: auto;
  position: relative;
  
  font-family: 'Open Sans', Arial, sans-serif;
  background: $niceGrey;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;

  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

.about-profile {
  display: flex;
  justify-content: space-around;
  width: 75%;
  padding: 0 50px;
  padding-bottom: 40px;
}

.profile-image {
  padding: 20px;
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 75%;
    border-radius: 50%;
  }
}

.description {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 66%;

  p {
    display: flex;
    padding: 10px 10px;
    justify-content: center;
    font-size: 12px;
    line-height: 1.5em;
  }
}

.about-title {

  display: flex;
  justify-content: center;
  padding-bottom: 20px;
  width: 50%;
  
  h1 {
    display: flex;
    justify-content: center;
    width: 75%;
    border-bottom: .75px solid $black;

    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    line-height: 1.1em;
    padding-bottom: 15px;
  }
}

.photo-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  margin-bottom: 30px;

  .photo-grid-items {
    width: 33.333%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    img {
      height: 200px;
      -webkit-filter: grayscale(100%);
      width: 100%;
    }
    
    img:hover {
      filter: none;
    }
  }
}

.about-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  padding: 40px 50px;

  p {
    width: 60%;
    font-size: 12px;
    line-height: 1.5em;
  }
  
}

.about-me {
  display: flex;
  justify-content: center;
  align-items: center;

  padding-bottom: 20px;
  width: 100%;
  
  h1 {
    display: flex;
    justify-content: center;
    
    width: 60%;
    border-bottom: .75px solid $black;

    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    line-height: 1.1em;
    padding-bottom: 15px;
  }
}



/* -- Mobile -- */ 

@include media('<=phone') { 
  .about-profile {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .profile-image {
    width: 200px;
    height: 200px;
  
    img {
      width: 100%;
    }
  }  
  
  .about-title {
    padding-top: 20px;
    width: 100%;
    
    h1 {
      width: 100%;
    }
  }

  .description {
    width: 100%;
  
    p {
      font-size: 14px;
    }
  }
  
  .photo-grid {
    .photo-grid-items {
      width: 100%;

      img {
        height: 300px;
      }
    }
  }

  .about-me {
    h1 {
      width: 100%;
      padding: 0 10px;
    }
  }

  .about-content {
    p {
      width: 100%;
    }
  }
}

/* -- Small Screens -- */ 

@include media(">phone", "<tablet") { 
  .about-profile {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .profile-image {
    padding-bottom: 0;
    width: 300px;
    height: 300px;
  }  
  
  .about-title {
    padding-top: 20px;
    width: 100%;
    
    h1 {
      width: 100%;
    }
  }

  .description {
    width: 100%;
  
    p {
      font-size: 15px;
    }
  }

  .photo-grid {
    .photo-grid-items {
      width: 50%;
      img {
        height: 200px;
      }
    }
  }

  .about-me {
    h1 {
      width: 90%;
    }
  }

  .about-content {
    p {
      width: 90%;
    }
  }

}

/* -- Medium Screens -- */ 

@include media(">tablet", "<desktop") {
  .about-title {
    padding-top: 20px;
    width: 100%;
    
    h1 {
      width: 100%;
    }
  }
  
  .photo-grid {
    .photo-grid-items {
      width: 33.333%;

      img {
        height: 250px;
      }
    }
  }

  .about-me {
    h1 {
      width: 70%;
    }
  }

  .about-content {
    p {
      width: 70%;
    }
  }
}

/* -- Large Screens -- */ 

@include media(">desktop") {
  .photo-grid {
    .photo-grid-items {
      width: 33.333%;

      img {
        height: 300px;
      }
    }
  }
}