
/* -- Imports -- */ 

@import url('https://fonts.googleapis.com/css?family=Raleway');

/* -- Variables -- */ 

$niceGrey: #edeeef;
$black: #000;
$white: #FFF;

/* -- About -- */ 


.about-wrapper {
  width: 100%;
  float: left;
  position: relative;
  z-index: -1;
}

.about-container {
  padding: 0 10%;
  position: relative;
  color: $black;
  font-family: 'Raleway','Open Sans', Arial, sans-serif;
}

.about-heading {
  padding-top: 10%;
  padding-bottom: 5%;

  .line-center-funfacts {
    margin: 0;
    padding:0 10px;
    text-transform: uppercase;
    background: $niceGrey;
    display: inline-block;
  }

  .line-center-hobbies {
    margin: 0;
    padding:0 10px;
    background: $niceGrey;
    display: inline-block;
  }

  .line-center-about-me {
    margin: 0;
    padding:0 10px;
    background: $white;
    display: inline-block;
  }
  
  h1 {
    text-align: center;
    position: relative;
    z-index: 4;
  }

  h1:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 30%;
    right: 30%;
    border-top: .75px solid $black;
    z-index: -1;
  }
}
/* -- Fun Facts -- */ 

.funfacts {
  background-color: $niceGrey;
  vertical-align: middle;
  // text-transform: uppercase;
  text-align: center;

}

.about-funfacts {
  padding: 8% 10%;
}

.funfacts-content {
  background-color: $niceGrey;
  padding: 0 10%;
  padding-bottom: 8%;
}

/* -- Hobbies -- */ 

.hobbies {
  padding: 5% 0;
  background-color: $niceGrey;
  vertical-align: middle;
  text-transform: uppercase;
  text-align: center;
}


/* -- About Me -- */ 

.about-me {
  padding: 7% 0;
  background-color: $white;
  text-transform: uppercase;
}

.about-me-content {
  padding-bottom: 2%;
}

.about-me-text {
  font-size: .75em;
}

.about-photos {
  width: 100%;
}

.asdf {
  width: 100%;
  height:20%;
  img {
    float: left;
    width: 33.33%;
    height: 175px;
  }

}