
/* -- Imports -- */ 

@import '../Globals/global.scss';

/* -- Skills -- */ 

.skills {
  width: 100%;
  padding: 0 0 20px 0;
  
  display: flex;
  margin: auto;
  position: relative;
  
  font-family: 'Open Sans', Arial, sans-serif;

  background: $sexyBeige;
  color: $black;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;

  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

.skills-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
  padding: 80px 50px 20px 50px;
  
}

.skills-description {
  display: flex;
  justify-content: center;

  p {
    text-align: center;
    width: 60%;
    font-size: 12px;
    line-height: 1.5em;
    letter-spacing: .05em;
  }

}

.title-skills {
    display: flex;
    justify-content: center;
    align-items: center;
  
    padding-bottom: 20px;
    width: 100%;
    
    h1 {
      display: flex;
      justify-content: center;
      
      width: 60%;
      border-bottom: .75px solid $black;
  
      font-size: 30px;
      text-transform: uppercase;
      letter-spacing: 0.05em;
      line-height: 1.1em;
      padding-bottom: 15px;
    }
}

.grid {
  display: flex;
  justify-content: center;
  
  background-color: $sexyBeige;
  padding: 0px 0 80px 0;

}

.tech-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  
  width: 80%;
}

.tech-grid-item {
  width: 150px;
  height: 150px;
  
  padding: 10px;
  margin: 10px;
  background-color: $sexyBeige;

  img {
    height: 150px;
    width: 150px;
  }
}

/* -- Circular Progress Bar -- */ 

.CircularProgressbar .CircularProgressbar-background {
  fill: $sexyBeige;
}

.CircularProgressbar.CircularProgressbar-inverted .CircularProgressbar-text {
  fill: $heavyRed;
}

.CircularProgressbar .CircularProgressbar-path {
  stroke: $heavyRed;
  stroke-linecap: round;
  transition: stroke-dashoffset 0.5s ease 0s;
}

.CircularProgressbar .CircularProgressbar-text {
  fill: $heavyRed;
  font-size: 20px;
  dominant-baseline: middle;
  text-anchor: middle;
}

.CircularProgressbar .CircularProgressbar-trail {
  stroke: #d0d3c5;
}

/* -- Mobile -- */ 

@include media('<=phone') { 
  .title-skills {
    padding-bottom: 20px;
    width: 100%;
    
    h1 {
      width: 100%; 
    }
  }

  .skills-content {
    padding: 60px 50px 20px 50px;
  }

  .skills-description {     
    p {
      font-size: 12px;
      width: 100%;
    }
  }

  .tech-grid-item {
    width: 100px;
    height: 100px;
    padding: 15px;

    img {
      width: 100px;
      height: 100px;
    }
  }
}

/* -- Small Screens -- */ 

@include media(">phone", "<tablet") { 

  .title-skills {
    padding-bottom: 20px;
    width: 100%;
    
    h1 {
      width: 90%; 
    }
  }

  .skills-content {
    padding: 70px 50px 20px 50px;
  }

  .skills-description {
    p {
      font-size: 12px;
      width: 90%;
    }
  }

  .tech-grid-item {
    width: 100px;
    height: 100px;
    padding: 15px;

    img {
      width: 100px;
      height: 100px;
    }
  }

}

/* -- Medium Screens -- */ 

@include media(">tablet", "<desktop") {
  .title-skills {
    padding-bottom: 20px;
    width: 100%;
    
    h1 {
      width: 80%; 
    }
  }

  .skills-content {
    padding: 70px 50px 20px 50px;
  }

  .skills-description {
    p {
      width: 80%;
    }
  }

  .tech-grid-item {
    width: 125px;
    height: 125px;
    padding: 15px;

    img {
      width: 125px;
      height: 125px;
    }
  }


}
